@import url('https://fonts.googleapis.com/css2?family=Forum&family=Roboto:wght@100;300;500;700&display=swap');
// font-family: 'Forum', cursive;
// font-family: 'Roboto', sans-serif;

$bg-color-dark: #030303;
$header-color: #9D8665;
$font-header: 'Forum', cursive;
$font-content: 'Roboto', sans-serif;

%section {
    margin: 0;
    padding-top: 75px;
    padding-bottom: 75px;

    //border: 1px solid yellow;
}

%dark-section {
    background-color: $bg-color-dark;
    color: #FFFFFF;

}

%cotainer {
   // border: 1px solid red;
    margin: 0 auto;
    max-width: 1440px;
    width: calc(100% - 40px);

}


@mixin noStyling {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-style: normal;
}
@mixin noStylingHeader {
    @include noStyling();
    font-family: $font-header;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
}
@mixin separator($width: 100%, $height: 3px) {
    background-color: #710707;
    width: $width;
    height: $height;
}

@mixin flex($justify-content: space-between){
    display: flex;
    justify-content: $justify-content;
    align-items: center;
}

html {
    scroll-behavior: smooth;
}

body {
    flex-direction: column;
    margin: 0 auto;
    width: 1920px;
}

h2 {
    @include noStylingHeader();
    font-size: 80px;
    line-height: 90px;
    color: $header-color;
}

.container {
    @extend %cotainer;
}

.header {
    background-color: $bg-color-dark;
    height: 150px;
    @include flex(center);
    .header-container {

      height: 100%;
      font-style: normal;
        font-weight: normal;
        @extend %cotainer;
        @include flex();
        height: 50px;
    }
}

.logo {
    @include flex();
    height: 33px;
    width: 199px;
    .img-logo {
        height: 26px;
        width: 49px;
        background-image: url("../assets/svg/Vector.svg");
        margin-bottom: 7px;
    }
    .text-logo {
        font-family: $font-header;
        font-size: 28px;
        letter-spacing: 5px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
}

.nav {
    width: 775px;
    ul {
        @include flex();
        padding: 0;
    }
    a {
        font-family: $font-content;
        font-size: 22px;
        font-weight: 100;
        letter-spacing: 2px;
        text-decoration: none;
        color: #FFFFFF
    }

}

.welcome-section {
    @extend %section, %dark-section;
   // position:relative;
   // border: 1px solid yellow;
    padding: 0;
    margin: 0;


    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
       // border: 1px solid yellow;
        height: 810px;
        .welcome-header {
          position: absolute;
         // border: 1px solid yellow;
          left:0;
          bottom: 270px;
          h1 {
            @include noStylingHeader();
          }
          p {
            margin: 0;
            padding: 0;
          }
          .txt-heading {
            font-size: 80px;
            line-height: 90px;

          }
         .txt-description {
            padding-top: 26px;
            padding-bottom: 75px;
            font-family: $font-content;
            font-weight: 300;
            font-size: 28px;
            line-height: 33px;
            letter-spacing: 2px;
         }
         .welcome-button {
            @include flex(center);
            width: 360px;
            height: 75px;
            background-color: #710707;
            border-radius: 10px;
            font-family: $font-content;
            color: #FFFFFF;
            text-decoration: none;
            font-weight: 100;
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 2px;
         }

        }
        .welcome-slider {

          //border: 1px solid yellow;
          height: 100%;
          position: absolute;
          display: block;
          top: 0;
          right: 0;
        }

        .slider-img {
          top: 0;
          display: none;
        }

        .slider-img.active {
          display: block;
        }

        .slider-gradient {
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
          background: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0.5) 16.19%, rgba(0, 0, 0, 0) 30.73%)}

        .slider-control {
          @include flex(space-evenly);
          background-color: $bg-color-dark;
          font-family: $font-content;
          font-size: 22px;
          height: 120px;
          width: 600px;
          position: absolute;
          bottom: 0;
          right: 0;

          .slider-number {
            @include flex();
            width: 76px;
            margin-left: 10px;
          }
          .slider-dots-panel {
            @include flex();
            width: 180px;
            .slider-dot {
              background-color: #FFFFFF;
              width: 16px;
              height: 16px
            }
            .slider-dot.active {
              background-color: $header-color;
            }
          }
          .slider-arrows {
            @include flex();
            width: 80px;
            margin-right: 10px;
            button {
              background-color: $bg-color-dark;
              border: none;
            }
            #btn-right {
              transform: rotate(180deg);
              padding-bottom: 3px;
              padding-right: 10px;
            }
          }

        }
    }
}

.visiting-section {
    @extend %section;
    padding-bottom: 0px;
    .separation-line {
        @include separator();
        margin-top: 25px;
        margin-bottom: 75px;
    }
    .visiting-cards {
        @include flex();
        flex-wrap: wrap;
        .visiting-card {
            max-width: 440px;
            margin-bottom: 3px;
            margin-bottom: 75px;
            color: inherit;
            text-decoration: none;
            img {
                width: 100%;
            }
            .visiting-name {
                @include noStylingHeader();
                font-size: 32px;
                line-height: 35px;
                margin-top: 22px;
                margin-bottom: 9px;
            }
            .card-separation-line {
                @include separator(68%, 2px);
            }
            p {
                @include noStyling();
                font-family: $font-content;
                font-weight: 100;
                margin-top: 10px;
            }
            .visiting-type {
                font-size: 22px;
                line-height: 26px;

            }
            .visiting-type-description {
                font-size: 18px;
                line-height: 21px;
            }

        }
      .visiting-card:hover {
        .card-separation-line {
          width: 100%;
          transition: all 0.4s ease-out;
        }
      }
    }

}

.explore-section {
    @extend %section, %dark-section;
    .container {
        display: flex;
        img {
            padding-top: 15px;
        }
        .explore-content {
            h2 {
                color: #FFFFFF;
            }
            padding-right: 60px;
            .separation-line {
                @include separator();
                margin-top: 25px;
                margin-bottom: 75px;
            }
            p {
                color: #FFFFFF;
                margin-bottom: 25px;
                padding-right: 5px;
                font-family: Roboto;
                font-weight: 300;
                font-size: 22px;
                line-height: 38px;
                .color-text {
                    color: $header-color;
                }
            }
        }

    }


}

.video-section {
    @extend %section;
    .container {
        margin-top: 15px;
        button {
          margin: 0;
          padding: 0;
          border: 0;
          background: transparent;
        }
        .video-player {
          height: 735px;
          background-color: #000000;

          .video-video {
            width: 100%;
            height: 650px;
            position: relative;
            video {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
            .video-play {
              position: absolute;
              top:40%;
              left:40%;
            }
          }

          .video-control {
            height: 85px;
            @include flex();
            row-gap: 25px;
            padding: 0 25px;

            input {
              background: linear-gradient(to right, #82CFD0 0%, #82CFD0 40%, #fff 40%, #fff 100%);
              border: solid 2px #82CFD0;
              border-radius: 8px;
              height: 7px;
              width: 400px;
              outline: none;
              -webkit-appearance: none;
            }

            input::-webkit-slider-thumb {
              width: 20px;
              height: 20px;
              border-radius: 50%;
              -webkit-appearance: none;
              cursor: ew-resize;
              background: #434343;
            }

          }
        }


        .video-description {
            @include flex();
            .video-text {
                width: 50%;
            }
        }

        .video-playlist {
          .video-slider {
            @include flex();
            .slider-item {
              display: none;
              width: 30%;
              position: relative;
              //object-fit: cover;

              video {
                width: 100%;
              }
            }
            .slider-item  img {
              position: absolute;
              top: 40%;
              left: 40%;
            }
            .slider-item.active {
              display: block;
            }
          }

          .slider-control {
            @include flex(center);
            height: 12px;
            .dot {
              height: 12px;
              width: 12px;
              background-color: #999999;
              border-radius: 100%
            }
          }
        }
      }


}

.gallery-section {
  @extend %section, %dark-section;
  position: relative;
  h2 {
    color: #FFFFFF;
  }
  .container {
    height: 2200px;
    overflow-y: hidden;
  }
  .picture-inner-container {
    height: 2850px;
    @include flex(center);
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    column-gap: 20px;

  }
  .gallery-gradient {
    width: 100%;
    height: 360px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
    position: absolute;
    bottom: 0;
  }
}

.tickets-section {
    @extend %section;
    .separation-line {
      @include separator();
    }
}

.contacts-section {
    @extend %section;
    .separation-line {
      @include separator();
    }
}

.footer {
    background-color: $bg-color-dark;
    .footer-container {
        @extend %cotainer;
        @include flex();


        height: 300px;
    }
}

.tours {
  position: absolute;
  width: 100%;
  height: 100%;
}



